.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #5a377b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #311157;
  text-shadow: #05771a 0px 2px 2px;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: 1px solid #ccc;
  width: 250px;
}
