   body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    
    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 50px;
    }

    li div {
        float: right;
    }
    
    h1 {
      color: red;
    }

    .card {
      max-width: 200px;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 4px 24px;
      margin: 4px 0;
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    }